<!DOCTYPE html>
<html>
  <head>
    <link href="/css/landing.css" rel="stylesheet">
    <script src="/js/angular.min.js"></script>
    <title>Rss feeds</title>
   </head>

   <body>
    <section id="header">
      <h1 id="rss">Rss Feeds</h1>
      <h2>Rss from BBC and Sky</h2>
    </section>
  
   </body>
</html>
