<!DOCTYPE html>
<html ng-app>
  <head>
    <link href="/css/landing.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>    
    <script src="/js/RssCtrl.js"></script>    
    <title>Rss feeds</title>
   </head>

   <body>
    <section id="header">
      <h1 id="rss">Rss Feeds</h1>
      <h2>Rss from BBC and Sky</h2>
    </section>
  
    <div ng-controller="RssCtrl"> 
      
      <section class="channel" ng-repeat="source in sources">
       <img src="{{source.rss.channel[0].image[0].url}}"/>
        
        <article ng-repeat="article in source.rss.channel[0].item">
          <h4><a href="xxxxx">{{article.title}}</a></h4>
          <p>{{article.description}}</p>
        </article>  
     
      </section>
    </div>

  </body>
</html>
