<!DOCTYPE html>
<html ng-app>
  <head>
    <link href="/css/landing.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>    
    <script src="/js/RssCtrl.js"></script>    
    <title>Rss feeds</title>
   </head>

   <body>
    <section id="header">
      <h1 id="rss">Rss Feeds</h1>
      <h2>Rss from BBC and Sky</h2>
    </section>
  
    <div ng-controller="RssCtrl" ng-init="fetch('http://feeds.bbci.co.uk/news/rss.xml')"> 
      <section class="channel" ng-repeat="source in sources">
       <img src="{{source.rss.channel[0].image[0].url}}" alt="{{source.rss.channel[0].image[0].title}}"/>
       <h3>{{source.rss.channel[0].title}}</h3>
        
        <article ng-repeat="article in source.rss.channel[0].item">
          <h4><a href='{{ article.link }}'>{{article.title}}</a></h4>
          <p>{{article.description}}</p>
        </article>  
     
      </section>
    </div>

  </body>
</html>
