
html, body { 
  height: 100% 
}

body {
        margin:0;
        padding:0;
  background-color: #ffffff;
}

#header {
        background-color: #ffc425;
  font-family: 'verdana';
  color: #020a2c;
  text-align: right;
  padding: 20px;
  margin-bottom: 5px;
}

#rss {
         font-family: 'verdana';
}

section {
        height: 20%;
}

section > h1 {
        text-align: right;
        font-size: 5em;
        font-weight: normal;
        padding:0;
        margin:0;
}

section > h2 {
        text-align: right;
        font-size: 3em;
        font-weight: normal;
        padding:0;
        margin:0;
}

.channel {
        font-family: 'verdana';
}

.channel h3 {
        text-align: left;
        font-size: 3em;
        font-weight: normal;
        padding:3px;
        margin:0;
}

.channel img {
        border:1;
        padding:3;
}

.channel h4 {
        text-align: left;
        font-size: 1em;
        font-weight: bold;
        padding:1px;
        margin:0px;
}

.channel p {
        text-align:left;
        padding: 0;
        margin:0px;
}

.channel article {
        padding: 5px;
}


a {
        color: #000f63;
        text-decoration: none;
}
